In [5]:
import requests
import os
import pandas as pd

In [2]:
def download_data(url, save_path):
    response = requests.get(url)
    
    if response.status_code == 200:
        with open(save_path, 'wb') as file:
            file.write(response.content)
        print("Data downloaded successfully!")
    else:
        print(f"Failed to download data. Status code: {response.status_code}")

In [3]:
# Replace 'YOUR_URL_HERE' with the actual URL of the WHO dataset you want to download
url = 'https://data.world/data-society/health-status-indicators'

In [4]:
# Replace 'your_save_path_here.csv' with the desired local file path to save the downloaded data
save_path = 'data/health.csv'

# Download the data
download_data(url, save_path)

Data downloaded successfully!

In [8]:
# Data Elemnts description
elements = pd.read_csv("https://query.data.world/s/sgbw6ehkjymc2x7lckh5hp4xfskvhz?dws=00000")

In [9]:
elements.head()

,PAGE_NAME,COLUMN_NAME,DATA_TYPE,IS_PERCENT_DATA,DESCRIPTION,REFERENCE
0,Demographics,State_FIPS_Code,Text,N,"Two-digit state identifier, developed by the N...","Data Sources, Definitions, and Notes, Page 6"
1,Demographics,County_FIPS_Code,Text,N,"Three-digit county identifier, developed by th...","Data Sources, Definitions, and Notes, Page 6"
2,Demographics,CHSI_County_Name,Text,N,Name of county,NaN
3,Demographics,CHSI_State_Name,Text,N,Name of State or District of Columbia,NaN
4,Demographics,CHSI_State_Abbr,Text,N,Two-character postal abbreviation for state name,NaN

In [10]:
# Data value definition
definition = pd.read_csv('https://query.data.world/s/ayx7swj3z5z5cf4gxexlesklbahm62?dws=00000')

In [11]:
definition.head()

               Data_Value                                        Description
0                   -9999  Indicate N.A. value from the source data for t...
1  -2222 or -2222.2 or -2  nda, no data available, see Data Notes documen...
2  -1111.1 or -1111 or -1  nrf, no report, see Data Notes document for de...
3                       1            Represent 'No' in the indicator columns
4                       2           Represent 'Yes' in the indicator columns

In [12]:
# Demographic distribution
demographics = pd.read_csv('https://query.data.world/s/onfgss3msolw37dce5smxj6cj7k3wu?dws=00000')

In [13]:
demographics.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,Strata_Determining_Factors,Number_Counties,Population_Size,Min_Population_Size,...,Max_Black,Native_American,Min_Native_American,Max_Native_American,Asian,Min_Asian,Max_Asian,Hispanic,Min_Hispanic,Max_Hispanic
0,1,1,Autauga,Alabama,AL,29,"frontier status, population size, poverty, age",37,48612,28447,...,17.3,0.5,0.1,1.1,0.6,0.2,2.2,1.7,0.8,19.2
1,1,3,Baldwin,Alabama,AL,16,"frontier status, population size, poverty, age",27,162586,118395,...,14.1,0.5,0.1,1.1,0.4,0.4,3.3,2.3,0.8,13.7
2,1,5,Barbour,Alabama,AL,51,"frontier status, population size, poverty, age...",33,28414,27269,...,50.7,0.4,0.2,7.1,0.3,0.2,2.3,3.1,1.0,67.7
3,1,7,Bibb,Alabama,AL,42,"frontier status, population size, poverty, age",53,21516,8134,...,35.4,0.3,0.1,2.6,0.1,0.1,1.5,1.4,1.2,46.9
4,1,9,Blount,Alabama,AL,28,"frontier status, population size, poverty, age",39,55725,29009,...,20.5,0.5,0.1,0.9,0.2,0.3,2.2,6.3,0.8,6.3

In [14]:
# Health Status Indicators
healthy = pd.read_csv('https://query.data.world/s/dmglx7ljafvvwckxxjs4rjc3po7mkd?dws=00000')

In [15]:
healthy.head()

,Categories,Elements,US_Pct_or_Rate_2003,Healthy_People_2010_Target
0,Birth Measures,Low Birth Wt. (<2500 g),7.9,5.0
1,Birth Measures,Very Low Birth Wt. (<1500 g),1.4,0.9
2,Birth Measures,Premature Births (<37 weeks),12.3,7.6
3,Birth Measures,Births to Women under 18,3.4,-9998.9
4,Birth Measures,Births to Women over 40,2.6,-9998.9

In [18]:
# Leading causes
leading_causes = pd.read_csv('https://query.data.world/s/yyefvc6if3c2w45x77gznwqyjota2b?dws=00000')

In [19]:
leading_causes.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,A_Wh_Comp,CI_Min_A_Wh_Comp,CI_Max_A_Wh_Comp,A_Bl_Comp,...,F_Bl_Cancer,CI_Min_F_Bl_Cancer,CI_Max_F_Bl_Cancer,F_Ot_Cancer,CI_Min_F_Ot_Cancer,CI_Max_F_Ot_Cancer,F_Hi_Cancer,CI_Min_F_Hi_Cancer,CI_Max_F_Hi_Cancer,LCD_Time_Span
0,1,1,Autauga,Alabama,AL,29,-1111,-1111,-1111,-1111,...,19,14,23,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003
1,1,3,Baldwin,Alabama,AL,16,57,39,75,-1111,...,20,15,25,-1111,-1111,-1111,-1111,-1111,-1111,2001-2003
2,1,5,Barbour,Alabama,AL,51,-1111,-1111,-1111,-1111,...,26,22,31,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003
3,1,7,Bibb,Alabama,AL,42,-1111,-1111,-1111,-1111,...,20,14,25,-1111,-1111,-1111,-1111,-1111,-1111,1994-2003
4,1,9,Blount,Alabama,AL,28,34,17,52,-1111,...,28,10,46,-1111,-1111,-1111,-1111,-1111,-1111,1999-2003

In [20]:
#Measure of birth and death
birth_and_death = pd.read_csv('https://query.data.world/s/nysk2tit5ku4l3sxnfkpvgrpsogsjy?dws=00000')

In [21]:
birth_and_death

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,LBW,LBW_Ind,Min_LBW,Max_LBW,...,CI_Max_Suicide,Injury,Injury_Ind,Min_Injury,Max_Injury,CI_Min_Injury,CI_Max_Injury,Total_Births,Total_Deaths,MOBD_Time_Span
0,1,1,Autauga,Alabama,AL,29,8.1,4,6.0,8.1,...,23.0,23.0,4.0,16.4,27.9,16.9,30.7,3048.0,1867.0,1999-2003
1,1,3,Baldwin,Alabama,AL,16,8.6,4,6.3,9.1,...,18.2,30.1,4.0,15.6,29.1,25.1,35.1,5471.0,4388.0,2001-2003
2,1,5,Barbour,Alabama,AL,51,11.0,4,6.7,11.9,...,16.9,29.6,4.0,17.5,35.2,21.5,39.7,1835.0,1538.0,1999-2003
3,1,7,Bibb,Alabama,AL,42,8.7,4,5.1,10.3,...,21.3,30.0,4.0,20.4,38.1,22.7,38.8,2801.0,2012.0,1994-2003
4,1,9,Blount,Alabama,AL,28,7.6,4,5.2,9.2,...,19.8,24.4,4.0,16.4,32.6,18.7,31.2,3318.0,2453.0,1999-2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,56,37,Sweetwater,Wyoming,WY,77,8.8,4,5.6,9.4,...,37.3,29.5,3.0,22.9,45.3,21.3,39.7,2756.0,1264.0,1999-2003
3137,56,39,Teton,Wyoming,WY,78,8.0,4,3.1,9.8,...,21.0,26.9,4.0,5.8,62.9,18.4,37.9,1931.0,680.0,1994-2003
3138,56,41,Uinta,Wyoming,WY,38,11.4,4,5.5,9.7,...,26.1,25.5,4.0,15.2,27.5,17.3,36.3,3186.0,1060.0,1994-2003
3139,56,43,Washakie,Wyoming,WY,82,7.3,4,2.5,8.6,...,24.7,33.3,4.0,10.8,35.7,22.1,48.1,974.0,844.0,1994-2003
3140,56,45,Weston,Wyoming,WY,78,8.8,4,3.1,9.8,...,29.3,22.6,3.0,5.8,62.9,12.8,36.9,670.0,629.0,1994-2003

In [22]:
#Preventive Service Use
preventive_service = pd.read_csv('https://query.data.world/s/jhpkrejcicslc2nvhunpkoi7u56df6?dws=00000')

In [23]:
preventive_service.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,FluB_Rpt,FluB_Ind,FluB_Exp,HepA_Rpt,...,CI_Max_Mammogram,Proctoscopy,CI_Min_Proctoscopy,CI_Max_Proctoscopy,Pneumo_Vax,CI_Min_Pneumo_Vax,CI_Max_Pneumo_Vax,Flu_Vac,CI_Min_Flu_Vac,CI_Max_Flu_Vac
0,1,1,Autauga,Alabama,AL,29,0,3,0,1,...,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1
1,1,3,Baldwin,Alabama,AL,16,0,3,4,2,...,89.6,44.1,37.2,51.1,58.7,50.8,66.6,61.8,54.1,69.4
2,1,5,Barbour,Alabama,AL,51,0,3,0,2,...,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1
3,1,7,Bibb,Alabama,AL,42,0,3,0,2,...,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1
4,1,9,Blount,Alabama,AL,28,2,4,3,3,...,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1,-1111.1

In [24]:
# # Relative Health importance
importance = pd.read_csv('https://query.data.world/s/wqkq6qtlmud3ghljc42knqf3vzucgf?dws=00000')

In [25]:
importance.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,RHI_LBW_Ind,RHI_VLBW_Ind,RHI_Premature_Ind,RHI_Under_18_Ind,...,RHI_IM_Postneonatal_Ind,RHI_Brst_Cancer_Ind,RHI_Col_Cancer_Ind,RHI_CHD_Ind,RHI_Homicide_Ind,RHI_Lung_Cancer_Ind,RHI_MVA_Ind,RHI_Stroke_Ind,RHI_Suicide_Ind,RHI_Injury_Ind
0,1,1,Autauga,Alabama,AL,29,8,8,8,8,...,8,8,5,6,8,8,8,8,8,7
1,1,3,Baldwin,Alabama,AL,16,8,8,8,8,...,5,5,5,5,7,8,8,5,8,7
2,1,5,Barbour,Alabama,AL,51,8,8,8,8,...,5,8,8,5,8,8,6,8,5,7
3,1,7,Bibb,Alabama,AL,42,8,8,8,8,...,8,8,5,6,8,8,8,8,8,7
4,1,9,Blount,Alabama,AL,28,7,8,8,8,...,8,8,5,5,7,8,8,5,8,7

In [26]:
#summary
summary = pd.read_csv('https://query.data.world/s/6u5iaifj2b4marysspyht3qmwwurql?dws=00000')

In [27]:
summary.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,ALE,Min_ALE,Max_ALE,US_ALE,...,Max_Health_Status,US_Health_Status,CI_Min_Health_Status,CI_Max_Health_Status,Unhealthy_Days,Min_Unhealthy_Days,Max_Unhealthy_Days,US_Unhealthy_Days,CI_Min_Unhealthy_Days,CI_Max_Unhealthy_Days
0,1,1,Autauga,Alabama,AL,29,74.9,74.5,78.0,76.5,...,22.8,17.1,15.5,28.2,7.5,4.0,8.8,6,5.4,9.7
1,1,3,Baldwin,Alabama,AL,16,76.6,75.5,78.2,76.5,...,20.4,17.1,12.4,18.3,6.7,5.6,7.4,6,5.7,7.7
2,1,5,Barbour,Alabama,AL,51,74.5,72.3,77.3,76.5,...,31.7,17.1,13.2,29.6,-1111.1,5.5,8.0,6,-1111.1,-1111.1
3,1,7,Bibb,Alabama,AL,42,73.2,73.3,77.8,76.5,...,29.3,17.1,10.1,28.7,-1111.1,4.7,8.2,6,-1111.1,-1111.1
4,1,9,Blount,Alabama,AL,28,76.1,74.9,79.4,76.5,...,24.6,17.1,19.6,32.1,7.9,4.2,7.8,6,6.0,9.8

In [28]:
# Vulnerabilities
vulnerability = pd.read_csv('https://query.data.world/s/sccm7srdpcgt4uky7ngzxeqwf6lred?dws=00000')

In [29]:
vulnerability.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,No_HS_Diploma,Unemployed,Sev_Work_Disabled,Major_Depression,...,Shig_Rpt_Ind,Shig_Exp,Toxic_Chem,Carbon_Monoxide_Ind,Nitrogen_Dioxide_Ind,Sulfur_Dioxide_Ind,Ozone_Ind,Particulate_Matter_Ind,Lead_Ind,EH_Time_Span
0,1,1,Autauga,Alabama,AL,29,6690,774,1727,2680,...,3,11,2883197,1,1,1,1,1,1,1999-2003
1,1,3,Baldwin,Alabama,AL,16,20254,2533,4933,9354,...,4,13,35664,1,1,1,2,1,1,2001-2003
2,1,5,Barbour,Alabama,AL,51,6729,569,1302,1618,...,3,16,49874,1,1,1,1,1,1,1999-2003
3,1,7,Bibb,Alabama,AL,42,5355,358,900,1218,...,3,16,7302,1,1,1,1,1,1,1994-2003
4,1,9,Blount,Alabama,AL,28,11181,819,2217,3164,...,4,5,889020,1,1,1,1,1,1,1999-2003